<!DOCTYPE html>
<html>
<head>
  <title>Furima</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%# 共通ヘッダーは全ページで表示 %>
  <%= render 'shared/header' unless controller_name == 'items' && action_name == 'new' %>

  <%# ページごとのコンテンツ %>
  <%= yield %>

  <%# 共通フッターは全ページで表示 %>
  <%= render 'shared/footer' unless controller_name == 'items' && action_name == 'new' %>
</body>
</html>